* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.welcome_container {
  height: 100vh;
}


#a{
  position: relative;
  /* background-image: linear-gradient(to bottom, rgba(41, 61, 179, 0.52), rgba(24, 1, 18, 0.73)), url('./assets/images/carousel1.jpg'); */
  background-image: linear-gradient(to bottom, rgba(41, 61, 179, 0.52), rgba(24, 1, 18, 0.73)), url('https://res.cloudinary.com/dfjzditzc/image/upload/v1588971250/carousel1_o4lpy0.jpg');
  height: 500px;
  background-position: center;
  background-size: cover;
  padding-top: 12px;
  padding-bottom: 30px;
}

.toggle-btn {
  /* position: absolute;
  top: 35px;
  left: 35px; */
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px;
}

.toggle-btn span {
  height: 3px;
  background-color:#303945;
  margin-bottom: 9px;
  display: none;
}

.toggle_btn {
  /* position: absolute;
  top: 35px;
  left: 35px; */
  cursor: pointer;
  margin-top: 5px;
  margin-right: 10px;
}

.toggle_btn span {
  height: 3px;
  background-color: #303945;
  margin-bottom: 9px;
  display: none;
}

#show_hamburger {
  display: none;
}

#show_cancel {
  display: none;
}

/* #hide_dropdown {
  display: none;
} */

.remove_popup_icon > .popup_drop {
  display: none !important;
}


.welcome_page_buttons {
  margin-right: 51px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home_login_button {
  background-color: #272040;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 9px 28px;
  margin-left: 31px; 
  color: #FFFBFB
}

.home_login_button:hover {
  cursor: pointer;
  color: #272040;
  background-color: #FFFBFB
}
.home_signup_button:hover {
  cursor: pointer;
  color: #272040;
  background-color: #FFFBFB;
}

.home_signup_button {
  background: #272040;
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 9px 28px;
  margin-left: 31px; 
  color: #FFFBFB
}

.welcome_page_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 126px;
}

.welcome_page_text {
  font-weight: bold;
  font-size: 60px;
  color:#FFFBFB;
  margin-bottom: 91px;
  text-align: center;
}

.checkout_button {
  padding: 15px 40px;
  cursor: pointer;
  background: #272040 0% 0% no-repeat padding-box;
  border: 3px solid #FFFBFB;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  font-weight: lighter;
}

.charts {
  background-color: #F8F8F8;
  padding: 31px 30px 30px 35px;
  display: flex;
}

.charts_songs_container {
  width: 58%;
  margin-right: 30px
}

.charts_songs_title_p {
  color: #272040;
  font-size: 23px;
  font-weight: bold;
}

.chart_songs_head {
  display: flex;
  align-items: center;
  height: 86px; 
  background-color: #FEFEFE;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
}

.chart_songs_head > p {
  font-size: 15px;
  font-weight: bold;
  color: #1A3365;
  width: 12.5%;
  margin-bottom: 0;
}

.chart_songs_head > .more_width {
  width: 25%
}

.charts_songs {
  display: flex;
  align-items: center;
  position: relative;
  height: 86px; 
  background-color: #FEFEFE;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0px 0px;
}

.charts_songs > p {
  width: 12.5%;
  margin-bottom: 0;
  font-size: 12px;
  color: #8B8B8B;
}

.charts_songs_images {
  display: flex; 
  align-items: center;
  width: 25%;
}

.chart_song_number {
  color: #1A3365;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 0;
}

.chart_song_cover {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
}

.chart_song_play_image {
  cursor: pointer;
}

.charts_songs_track {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.charts_songs_track .song {
  color: #1A3365;
  width: 100%;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
}

.charts_songs_track .artist {
  color: #8B8B8B;
  width: 100%;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.charts_albums_container {
  width: 38%
}

.charts_albums_albums {
  display: flex;
  flex-wrap: wrap;
}

.charts_albums {
  margin-right: 40px;
  cursor: pointer;
}

.chart_albums_image {
  width: 200px;
  height: 200px;
}

.chart_album_title {
  color: #8B8B8B;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.chart_album_artist_name {
  color: #272040;
  font-size: 14px;
  font-weight: bold;
}

.charts_like {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#charts_songs_button {
  text-align: center;
  width: 100%;
}

.charts_songs_button {
  background-color: #272040;
  border-radius: 5px;
  padding: 15px 30px;
  color: white;
  font-size: 15px;
  text-align: center;
}

.advert_container {
  display: flex;
  padding: 50px;
  background-color: #ECE6FF;
}

.cd_image {
  margin-right: 20px;
  height: 280px;
}

.advert_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advert_content_head {
  color: #272040;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.advert_content_text {
  color: #000000;
  font-size: 15px;
  padding: 0 65px;
  text-align: center;
}


/******Signup Page ***/
.signup_modal {
  display: flex;
  align-items: center;
}

.signup_successful_text {
  font-size: 25px;
  font-weight: bold;
}

.signup_modal_signin {
  text-align: center;
}

.signup_image_container {
  /* background-image: url('./assets/images/signup.jpg'); */
  background-image: url('https://res.cloudinary.com/dfjzditzc/image/upload/v1588971407/signup_eeojpm.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 40px 100px 40px 100px;
}

.signup_container {
  background: #FFFFFF;
  border: 10px solid #707070;
  border-radius: 50px;
  width: 100%;
  height: auto;
  display: flex;
}

.signup_community_image {
  /* background-image: url('./assets/images/robot.jpg'); */
  background-image: url('https://res.cloudinary.com/dfjzditzc/image/upload/v1588971344/robot_arsptc.jpg');
  background-size: cover;
  border-radius: 34px;
  height: 100%;
  width: 45%;
  padding: 200px 100px 30px 30px;
}

.signup_community_image > p {
  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
}

.signup {
  padding: 50px 100px 50px 80px;
}

.signup_community {
  font: 25px Ubuntu;
  font-weight: 600;
  color: #000000;
}

.signup_existing {
  color: #978A8A;
  font: 18px Ubuntu;
}

.signup_existing a {
  color: #FF0000 !important
}

.signup_form {
  display: flex;
  flex-direction: column;
  margin: 30px 0 50px 0;
}

.signup_text {
  border: none;
  border-bottom: 1px black solid;
  outline: none;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 300px;
}

.signup_password_container {
  position: relative;
  border: none;
  border-bottom: 1px black solid;
  outline: none;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 30px;
  width: 300px;
}

.signup_password_image {
  position: absolute;
  top: 0px; 
  right: 10px;
  height: 30px;
  cursor: pointer;
}

.signup_text_password {
  border: none;
  outline: none;
  width: 100%;
}

.signup_label {
  color: #978A8A;
  font: 18px Ubuntu;
}

.signup_button {
  background: #203051;
  padding: 10px 20px;
  color: white;
  margin-left: 70px;
}

.iframe_container {
  width: 100%;
  height: 90px;
  position: sticky;
  bottom: 0;
}

/*******Login Page *******/

.login_container {
  /* background-image: url('./assets/images/signup.jpg'); */
  background-image: url('https://res.cloudinary.com/dfjzditzc/image/upload/v1588971407/signup_eeojpm.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
}

.login {
  color: #010000;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}

.login_section {
  width: 48%;
  background-color: white;
  height: 100vh;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset_section {
  width: 48%;
  background-color: white;
  height: 100vh;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_details_password {
  border: none; 
  outline: none;
  padding: 20px;
  width: 100%;
}

.login_password {
  width: 100%;
  box-shadow: 0px 1px 2px #00000029;
  border: 1px solid #E5E5E5;
  border-top: none;
  color: #978A8A;
  
  position: relative;
}

.password_image {
  position: absolute;
  top: 17px; 
  right: 10px;
  height: 30px;
  cursor: pointer;
}

.password_second_image {
  position: absolute;
  top: 0px; 
  right: 10px;
  height: 30px;
  cursor: pointer;
}

.login_details {
  color: #978A8A;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 1px 2px #00000029;
  border: 1px solid #E5E5E5;
  border-top: none;
  outline: none;
}

.login_button {
  background: #203051;
  border-radius: 23px;
  padding: 15px 60px;
  margin-top: 25px;
  width: 60%;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}

#disable_button {
  opacity: 0.6;
  padding: 15px 30px;
  cursor: wait;
}

.login_button:hover {
  background-color: rgb(168, 160, 160);
  color: #203051;
}

.login_create_account {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.move_sign_up {
  margin: 2px 0px 0px 5px;
}

.move_sign_up:hover {
  color: red;
}

.login_create_account > button {
  margin-top: 0
}

.login_create_account > p {
  margin-bottom: 10px
}

.login_google {
  background: rgb(185, 14, 14);
  border-radius: 23px;
  padding: 15px 40px;
  margin-top: 25px;
  width: 80%;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
}

.login_or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.login_text {
  margin-bottom: 0;
  font-size: 20px;
  color: #978A8A;
}

.login_underline {
  width: 40%;
  height: 1px;
  background-color: #978A8A;
}

/*****Explore ***/
.explorenav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 200;
  height: 60px;
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid rgb(240, 232, 232);
  border-bottom: 1px solid rgb(240, 232, 232);
}

.popup_drop {
  cursor: pointer;
}

.pop_drop_icon {
  font-size: 30px;
  color: #303945;
}

.display_name {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 300;
  color: rgb(27, 26, 26);
}

.show_display_name {
  display: none;
}

.explorenav_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 0;
}

.explorenav_login {
  padding: 5px 20px;
  color: rgb(6, 89, 104);
  background-color: white;
  border: 2px solid rgb(6, 89, 104);
  border-radius: 20px;
  margin-right: 20px;
}

.explorenav_signup {
  padding: 5px 20px;
  color: white;
  background-color: rgb(6, 89, 104);
  border: 2px solid rgb(6, 89, 104);
  border-radius: 20px;
  margin-right: 20px;
}

.explorenav_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.explorenav_search_input {
  border: none;
  outline: none;
  color: #000000;
  height: 100%;
  width: 99%;
}

.explorenav_cancel_search {
  color: gainsboro;
  cursor: pointer;
}

/*********Explore Page ****/
.explore_container_logged_in {
  padding: 30px 80px 80px 80px
}

.explore_container {
  padding: 30px 150px 80px 200px
}

.explore_charts {
  font-size: 30px;
  color: black;
  font-weight: 700;
  margin-bottom: 50px;
}

.explore_top {
  font-size: 20px;
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 60px;
}

.explore_updated {
  font-size: 15px;
  color: gray;
  margin-bottom: 30px;
}

.explore_tracks {
  display: flex;
  height: 250px;
  width: 50%;
  cursor: pointer;
  position: relative;
}

.explore_tracks:hover {
  opacity: 0.8
}


.explore_tracks_image {
  height: 100%;
  width: 20rem;
  /* omit this: background-size: cover; */
  object-fit: cover;
  object-position: center;
}

.explore_tracks_text {
  padding: 20px 30px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(240, 232, 232);
}

.explore_tracks_text_top {
  font-size: 20px;
  color: black;
  font-weight: 600
}

.explore_tracks_play_button {
  position: absolute;
  bottom: 2px;
  left: 5px;
  font-size: 35px;
  color: white;
}
.explore_album_play_button {
  position: absolute;
  bottom: 4px;
  left: 5px;
  font-size: 35px;
  color: white;
}

.explore_artists_images_holder {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}
.explore_albums_images_holder {
  /* width: 100%;
  height: 100%; */
  width: 200px;
  height: 200px;
  position: relative;
}

.play_holder {
  position: absolute;
  bottom: 7px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.favourite_holder {
  position: absolute;
  bottom: 20px;
  right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
}
.favourite_holder:hover {
  cursor: pointer;
}

.favourite_album_holder {
  position: absolute;
  bottom: 7px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
}
.favourite_album_holder:hover {
  cursor: pointer;
}

.red_favourite {
  background-color: rgb(240, 82, 82);
}

.white_favourite {
  background-color: white;
}

.explore_artists_images {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.explore_albums_images {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.four_pictures {
  display: flex;
  flex-wrap: wrap;
}

.four_pictures_second {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
}

.four_pictures > img {
  width: 50%;
  height: 50%;
}

.four_pictures_second > img {
  width: 50%;
  height: 50%;
}

.explore_artists_images:hover {
  opacity: 0.8
}

.explore_artists {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.explore_artist {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  width: 200px;
  height: 200px;
  align-items: center;
  margin-bottom: 35px;
}

/********Sidebar ***/
.main_container {
  display: flex;
  flex-direction: column;
}

.general_container {
  display: flex;
  position: relative;
}
.nav_child_container {
  width: 100%;
  min-height: 100vh;
}
.nav_child_container_margin {
  margin-left: 16%;
}

.sidebar_container {
  position: fixed;
  width: 16%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 200px 20px 40px 20px;
  border-right: 1px solid rgb(240, 232, 232);
}

.sidebar_container::-webkit-scrollbar {
  display: none;
}

.sidebar_content_div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebar_content_div:hover {
  cursor: pointer;
}
.sidebar_content_div:hover > p {
  color: rgb(240, 82, 82);
}
.sidebar_content_div:hover > .sidebar_content_icon {
  color: rgb(240, 82, 82);
}
#current > p {
  color: rgb(240, 82, 82);
}
#current > .sidebar_content_icon {
  color: rgb(240, 82, 82);
}
.sidebar_content_div > p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(20, 19, 19);
  margin-bottom: 0;
}

.sidebar_content_icon {
  font-size: 30px;
  color: black;
}

.sidebar_content {
  margin-left: 40px;
  margin-top: 10px;
  font-size: 15px;
  color: grey;
}
.sidebar_content:hover {
  color: rgb(240, 82, 82);
}

#current {
  color: rgb(240, 82, 82);
}

/*****Playlist ******/
.playlist_container {
  padding: 20px 100px 20px 100px;
}

#playlist_header {
  width: 60%; 
}

.playlist_header {
  display: flex;
  position: relative;
  width: 50%; 
  min-height: 200px;
}

.playlist_image {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.playlist_image:hover {
  opacity: 0.8
}

.playlist_details_holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px
}

.playlist_title {
  font-size: 30px;
  font-weight: bold;
}

.playlist_duration {
  display: flex;
  font-size: 15px;
  color: rgb(185, 157, 157);
}

.playlist_time {
  margin-left: 20px;
  margin-bottom: 0;
}

.dura {
  margin-bottom: 0;
}

.playlist_actions_holder {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.playlist_button_holder {
  display: flex;
}

.playlist_button {
  padding: 6px 25px;
  border-radius: 5px;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 206, 206);
  color: black;
  margin-right: 10px;
}
.playlist_button:hover {
  background-color: white;
}

#playlist_listen {
  background-color: rgb(240, 82, 82);
  color: white;
}
#playlist_listen:hover {
  background-color: rgb(156, 21, 21);
}

.playlist_button_icon {
  font-size: 15px;
  margin-right: 5px;
}

#unlike_button {
  background-color: rgb(240, 82, 82);
}
#unlike_button:hover {
  background-color: rgb(156, 21, 21);
}

.tracks_header {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(240, 232, 232);
}
.tracks_header_background:hover {
  background-color: rgb(240, 233, 233);
}

.playlist_tracks_header {
  font-size: 13px; 
  color: rgb(199, 184, 184);
  text-align: left;
  margin-bottom: 0;
}

.add_icon_holder {
  display: flex;
  justify-content: space-between;
  width: 20%;
  padding-right: 20px;
}

#add_icon_holder {
  width: 25%;
}

#track_number {
  width: 12%;
}
#track_title {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.track_artist {
  width: 20%;
  margin-bottom: 0; 
}
#track_duration {
  width: 8%;
}

/***** Spinner ****/
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.track_liked {
  color: red;
  display: block;
}

.track_not_liked {
  color: black; 
  display: block;
}

.track_like_holder {
  position: absolute;
  left: 40px;
  width: 25px; 
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.track_like_holder:hover {
  background-color: white;
}

.show{
  display: block;
}
.hide {
  display: none;
}

.track_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(199, 184, 184);
  width: 12%;
  position: relative;
  padding-right: 55px;
}

.track_number_discograph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(199, 184, 184);
  width: 20%;
  padding-right: 55px;
  position: relative;
}

.play_track_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.u {
  display: flex;
  justify-content: center;
  width: 30px;
  margin-bottom: 0;
}

.track_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  width: 40%;
}
.track_title > p {
  margin-bottom: 0;
}

.track_album {
  width: 20%;
  margin-bottom: 0;
}

.track_duration {
  margin-bottom: 0;
}

/*****Album ***/
.track_album_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  width: 80%;
}
.track_album_title > p {
  margin-bottom: 0;
}

.track_album_title_discograph {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  width: 78%;
}

#track_album_number {
  width: 12%;
}
#track_album_title {
  width: 80%;
}
#track_album_duration {
  width: 8%;
}
.add_library_icon {
  display: none;
}

.add_icons_play {
  width: 25px;
  height: 25px;
  color: black; 
  
}
.add_icons_play:hover {
  cursor: pointer;
  color: grey;
}

.search_track {
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 15px;
  width: 350px;
}


/*****Artist Page ***/
.artist_details {
  display: flex;
}

.artist_details > img {
  border-radius: 50%;
}

.artist_details_like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.artist_details_like > p {
  margin-bottom: 20px;
}

.artist_mobile_discography {
  overflow-x: auto;
  width: 100%;
}

.artist_discography {
  width: 100%;
  display: flex;
  margin-top: 60px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(233, 224, 224);
}

.artist_discography_text {
  margin-right: 30px;
  color: grey;
  font-size: 20px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

#artist_border {
  border-bottom: 2px solid red;
  color: black;
}

/*******Artist Discography ***/
.discography_first {
  display: flex;
}

.discography_top_tracks {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.discography_header_text {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.no_result {
  padding: 20px;
  text-align: center;
}

.discography_playlists {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 50px;
}

.discography_mapped_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(25, 25, 34, .16)
}
.discography_see_more_tracks {
  width: 100%;
  height: 25px;
  text-align: center;
  background-color: rgb(224, 213, 213);
  font-size: 15px;
  color: rgb(134, 125, 125)
}

.remove_border_top:first-child {
  border-top: 0;
}

.artist_tracklist {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.artist_tracklist_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.artist_tracklist_header > p {
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.artist_tracklist_header > input {
  height: 40px;
}

.discography_playlist {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
}

.discography_playlist_image {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}


#discography_playlist_mapped {
  margin-bottom: 80px;
  margin-right: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.hover_similar:hover {
  cursor: pointer;
}

/******Search Page****/
.search_headers {
  padding-left: 50px;
}

.top_search_result {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(233, 224, 224)
}

.top_search_image_holder {
  display: flex;
  align-items: center;
}

.top_search_image_text {
  margin-left: 40px;
  font-size: 22px !important;
  color: black;
}

.top_search_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.top_search_image:hover {
  opacity: 0.8
}

.top_search_album_image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.top_search_album_image:hover {
  opacity: 0.8
}

.search_tracks {
  margin-top: 20px;
}

.remove_search_border {
  border-bottom: 0;
}

.remove_search_border_top:first-of-type {
  border-top: 0;
}

.my_tracks {
  margin: 60px;
}

.remove_header_border {
  border-top: 0;
}

.select_holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select_options_holder {
  display: flex;
  justify-content: flex-end;
}

.select_options {
  width: 200px;
  height: 45px;
  border-radius: 5px;
  padding: 10px 20px;
}

.no_track {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no_playlist {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*****Tooltip***/
.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  min-width: 120px;
  background-color: black;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  left: -40px; 
  top: -25px;
  z-index: 1;
}

.add_library_icon:hover .tooltiptext {
  visibility: visible;
}

.turn_red {
  margin-bottom: 0;
  color: black;
  font-size: 14px;
}

.turn_red:hover {
  color: rgb(240, 82, 82);
  margin-bottom: 0;
}


/****Track Page***/
.add_playlist_icon {
  width: 22px;
  height: 22px;
  color: black; 
  
}
.add_playlist_icon:hover {
  cursor: pointer;
  color: rgb(75, 72, 72);
}

.show_playlist_icon {
  display: block;
  position: relative;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.show_play_button {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide_play_button {
  background-color: white;
}

.show_number {
  display: block;
  display: flex;
  justify-content: center;
  width: '30px'
}

.delete_track_button {
  display: block;
  position: relative;
}

/****Favourites Page*****/
.no_favourites {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*****My playlists page****/
.my_playlist_add_icon {
  color: white;
  font-size: 20px;
}

.playlist_add_icon_holder {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(240, 82, 82);
}

.make_column {
  flex-direction: column;
}


.create_playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 200px;
  border-radius: 5px;
  border: 2px dotted rgb(240, 82, 82);
  margin-right: 30px;
  cursor: pointer;
}

.create_playlist:hover {
  background-color: rgb(226, 217, 217);
}

.my_playlists_holder {
  display: flex;
  flex-wrap: wrap;
}

.empty_playlist_image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 201, 201);
  border-radius: 5px;
}

.empty_playlist_music_icon {
  font-size: 120px;
  color: rgb(153, 151, 151)
}


/****Playlist modal***/
.modal_create_playlist {
 text-align: center;
 width: 100%;
 font-size: 25px;
 font-weight: bold;
}

.modal_playlist_title {
  margin-top: 20px;
  width: 100%;
}

.modal_playlist_title > p {
  color: black;
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 300;
}

.modal_playlist_title > input {
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
}

.modal_buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 30px;
}

.modal_cancel_button {
  background-color: rgb(247, 241, 241);
  padding: 7px 15px;
  border-radius: 5px;
  color: black;
}

.modal_save_button {
  background-color: rgb(240, 82, 82);
  padding: 7px 15px;
  border-radius: 5px;
  color: white;
}

#dim_create {
  opacity: 0.7;
  cursor: progress;
}

/***Track page modal***/
.add_playlist_search {
  width: 100%;
  padding: 10px 20px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  margin-bottom: 10px;
}

.search_text_holder {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.search_text_holder:hover {
  background-color: rgb(187, 173, 173);
  cursor: pointer;
}

.modal_add_playlist_text {
  font-size: 15px;
  margin-bottom: 0;
}

.search_momdal_add_icon_holder {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: rgb(240, 82, 82);
}

.modal_margin_left {
  margin-left: 10px;
}

/****Logout ***/
.logout_button {
  background-color: rgb(240, 82, 82);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
}

.back_arrow {
  font-size: 45px;
}

.logout_button:hover {
  background-color: red;
}

#logout_button {
  opacity: 0.6;
  padding: 5px 10px;
  cursor: wait;
}

.logout_holder:hover {
  background-color: #d3d3d3;
  cursor: pointer;
  /* color: white; */
}

.logout_holder {
  display: flex;
  align-items: center;
  padding: 5px 20px;
}

.logout_text {
  margin-bottom: 0;
  font-size: 14px;
}

.explore_artists_name {
  font-size: 20px;
}

@media (max-width: 1025px) {
  .explore_container {
    padding: 30px 150px 20px 150px
  }

  .sidebar_container {
    position: fixed;
    background-color: white;
    width: 250px;
    transform: translateX(-250px);
    transition: all 0.5s;
  }

  .close_sidebar_button {
    font-size: 40px;
    color:#303945;
  }

  .active {
    transform: translateX(0);
    z-index: 500
  }

  .rotate_right {
    transform: rotate(-45deg);
    width: 31px;
  }

  .rotate {
    transform: rotate(45deg)
}
  .nav_child_container_margin {
    margin-left: 0%;
  }

  #show_hamburger {
    display: block;
    position: relative;
    z-index: 700;
  }

  #show_cancel {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .toggle-btn span {
    display: block;
  }

  .toggle_btn span {
    display: block;
  }

  .line_1 {
    width: 31px;
  }
  .line_2 {
    width: 31px;
  }

  .line-1 {
    width: 31px;
  }

  .line-2 {
      width: 21.57px;
  }

  .line-3 {
      width: 13.48px;
  }

  .rot {
    transition: all 0.5s
  }

  .favourite_holder {
    z-index: 1 !important;
    opacity: 1 !important;
  }

  .favourite_album_holder {
    z-index: 1 !important;
    opacity: 1 !important;
  }

  .mobile_artist_album_image {
    width: 282px;
    height: 282px;
  }

  .search_container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .search_headers {
    padding-left: 0px;
    /* padding-right: 20px; */
  }

  .my_tracks {
    margin-left: 0;
    margin-right: 0;
  }

  .mobile_padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/*****Welcome Page ***/ 
@media (max-width: 850px) {
  .mobile_albart_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .mobile_padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  #discography_playlist_mapped {
    margin-right: 0;
  }

  .search_container {
    padding-left: 40px;
    padding-right: 40px;
  }

  #remove_extra_width {
    width: 700px;
}

  .welcome_page_text {
    font-weight: bold;
    font-size: 55px;
    color:#FFFBFB;
    margin-bottom: 41px;
  }

  .advert_container {
    flex-direction: column;
  }

  .cd_image {
    margin-right: 0;
  }

  .advert_content_head {
    text-align: center;
  }

  .welcome_page_details {
    margin-top: 90px;
  }

  .signup_container {
    flex-direction: column;
  }

  .signup_community_image {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .signup {
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signup_label {
    text-align: left
  }

  .login_section {
    width: 100%;
    height: 100%;
    padding-top: 120px;
  }

  .reset_section {
    width: 100%;
    height: 60%;
    margin: auto 0;
    padding-top: 120px;
  }

  .explore_container {
    padding: 30px 50px 20px 50px;
  }

  .explore_artists_images_holder {
    width: 200px;
    height: 200px;
  }

  .explore_albums_images {
    width: 200px;
    height: 200px;
  }

  .explore_artists {
    min-width: 100%;
    overflow-x: auto;
  }

  .explore_artists {
    flex-wrap: nowrap;
  }

  .mobile_explore {
    height: 270px;
    margin-bottom: 0;
  }

  .explorenav_search {
    width: 60%;
  }

  /* .sidebar_container {
    position: fixed;
    background-color: white;
    width: 250px;
    transform: translateX(-250px);
    transition: all 0.5s;
  }

  .close_sidebar_button {
    font-size: 40px;
    color:#303945;
  }

  .active {
    transform: translateX(0);
    z-index: 500
  }

  .rotate_right {
    transform: rotate(-45deg);
    width: 31px;
  }

  .rotate {
    transform: rotate(45deg)
}
  .nav_child_container_margin {
    margin-left: 0%;
  }

  #show_hamburger {
    display: block;
    position: relative;
    z-index: 700;
  }

  #show_cancel {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .toggle-btn span {
    display: block;
  }

  .toggle_btn span {
    display: block;
  }

  .line_1 {
    width: 31px;
  }
  .line_2 {
    width: 31px;
  }

  .line-1 {
    width: 31px;
  }

  .line-2 {
      width: 21.57px;
  }

  .line-3 {
      width: 13.48px;
  }

  .rot {
    transition: all 0.5s
  }

  .favourite_holder {
    z-index: 1 !important;
    opacity: 1 !important;
  }

  .favourite_album_holder {
    z-index: 1 !important;
    opacity: 1 !important;
  } */

  .artist_discography {
    width: 800px;
  }

  .discography_first {
    flex-direction: column;
  }

  .discography_top_tracks {
    display: flex;
    width: 100%;
  }

  .discography_playlists {
    margin-left: 0;
    width: 100%; 
  }

  .discography_playlist {
    width: 50%;
  }

  .mobile_discography_playlist_holder {
    display: flex;
    flex-wrap: wrap;
  }

  .tracks_mobile_display {
    overflow-x: auto;
    min-width: 100%;
  }

  .tracks_header {
    width: 1000px;
  }

  .library_album_tracks {
    width: 720px;
  }

  .mobile_artist_album_image {
    width: 325px;
    height: 325px;
  }
}

@media (max-width: 500px) {
  .signup_image_container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .signup_community_image {
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px
  }

  .login_section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .reset_section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .explore_tracks_text {
    display: none;
  }

  #hide_sign {
    display: none;
  }

  .remove_popup_icon > .popup_drop {
    display: flex !important;
    justify-content: flex-end !important;
    display: block;
  }

  .hide_display_name {
    display: none;
  }

  .playlist_header {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #playlist_header {
    flex-direction: column;
    width: 100%;
    align-items: center; 
  }

  .playlist_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .playlist_play_holder {
    position: absolute;
    top: 160px;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }

  .playlist_duration {
    align-items: center;
  }

  .playlist_actions_holder {
    flex-direction: column;
  }

  .search_track {
    margin-top: 20px;
    width: 100%;
  }

  /* .tracks_mobile_display {
    overflow-x: auto;
    min-width: 100%;
  } */

  .tracks_header {
    width: 800px;
  }

  .library_album_tracks {
    width: 620px;
  }

  #tracks_header {
    width: 650px;
  }

  .playlist_button {
    padding: 6px 18px;
    font-size: 15px;
  }

  .playlist_button_holder {
    justify-content: center;
  }

  .show_display_name {
    display: block;
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 300;
    color: rgb(27, 26, 26);
    margin-bottom: 0;
  }

  .show_display_name > span {
    font-weight: bold;
  }

  #reduce_width {
    width: 10%;
  }

  .explorenav_search {
    width: 90%;
  }

  .explore_container_logged_in {
    padding: 30px 30px 20px 30px
  }

  .artist_details > img {
    width: 180px;
    height: 180px;
  }

  .artist_discography_text {
    margin-right: 15px;
    font-size: 15px;
    padding-bottom: 15px;
    word-break: keep-all;
  }

  .artist_discography {
    width: 480px;
  }

  .discography_mapped_container {
    padding: 10px;
  }

  #mobile_artist_discography {
    width: 330px;
  }

  .track_number_discograph {
    width: 30%;
  }

  .track_album_title_discograph {
    width: 68%;
  }

  .discography_playlists {
    margin-top: 40px;
  }

  .discography_playlist {
    width: 100%;
  }

  .discography_playlist_image {
    height: 80px;
    width: 80px;
    border-radius: 5px;
  }

  .mobile_larger_discography_font {
    font-size: 20px;
  }

  .artist_tracklist_header {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .artist_tracklist_header > p {
    font-size: 25px;
  }

  .mobile_artist_album_image {
    width: 165px;
    height: 165px;
  }

  /* #discography_playlist_mapped {
    margin-right: 0;
  } */

  .artist_details_like {
    margin-left: 20px;
  }

  .mobile_artist_but {
    padding: 6px 10px;
  }

  .mobile_artist_title {
    font-size: 20px;
  }

  .search_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile_reduce_margin{
    margin-left: 20px;
  }

  #remove_extra_width {
    width: 300px;
  }

  .no_favourites {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .mobile_artist_album_image {
    width: 155px;
    height: 155px;
  }
}